* {
   margin: 0px;
   padding: 0px 0px;
}

.cabecalho{
  background-color: rgb(0, 0, 0);
  color: white;
  display:flex;
  justify-content: space-around;
  padding: 30px 0;
  font-size: 19px;
}

.cabecalho-lista-item{
  display: inline-block;
 margin: 0 80px;
}

.cabecalho-imagem{
  width: 5%;
}